@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@layer base{
    * {
        @apply transition-all duration-75;
    }
}
@tailwind components;
@tailwind utilities;

/* Font YekanBakh */
@layer components {
    @font-face {
        font-family: YekanBakh;
        font-style: normal;
        font-weight: 100;
        src: url('./fonts/woff/YekanBakhFaEnHairline.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaEnHairline.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakh;
        font-style: normal;
        font-weight: 200;
        src: url('./fonts/woff/YekanBakhFaEnThin.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaEnThin.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakh;
        font-style: normal;
        font-weight: 300;
        src: url('./fonts/woff/YekanBakhFaEnLight.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaEnLight.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakh;
        font-style: normal;
        font-weight: 400;
        src: url('./fonts/woff/YekanBakhFaEnRegular.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaEnRegular.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakh;
        font-style: normal;
        font-weight: 500;
        src: url('./fonts/woff/YekanBakhFaEnMedium.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaEnMedium.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakh;
        font-style: normal;
        font-weight: 600;
        src: url('./fonts/woff/YekanBakhFaEnBold.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaEnBold.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakh;
        font-style: normal;
        font-weight: 700;
        src: url('./fonts/woff/YekanBakhFaEnHeavy.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaEnHeavy.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakh;
        font-style: normal;
        font-weight: 800;
        src: url('./fonts/woff/YekanBakhFaEnFat.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaEnFat.ttf') format('truetype');
    }


    @font-face {
        font-family: YekanBakhFA;
        font-style: normal;
        font-weight: 100;
        src: url('./fonts/woff/YekanBakhFaNumHairline.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaNumHairline.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakhFA;
        font-style: normal;
        font-weight: 200;
        src: url('./fonts/woff/YekanBakhFaNumThin.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaNumThin.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakhFA;
        font-style: normal;
        font-weight: 300;
        src: url('./fonts/woff/YekanBakhFaNumLight.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaNumLight.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakhFA;
        font-style: normal;
        font-weight: 400;
        src: url('./fonts/woff/YekanBakhFaNumRegular.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaNumRegular.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakhFA;
        font-style: normal;
        font-weight: 500;
        src: url('./fonts/woff/YekanBakhFaNumMedium.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaNumMedium.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakhFA;
        font-style: normal;
        font-weight: 600;
        src: url('./fonts/woff/YekanBakhFaNumBold.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaNumBold.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakhFA;
        font-style: normal;
        font-weight: 700;
        src: url('./fonts/woff/YekanBakhFaNumHeavy.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaNumHeavy.ttf') format('truetype');
    }
    @font-face {
        font-family: YekanBakhFA;
        font-style: normal;
        font-weight: 800;
        src: url('./fonts/woff/YekanBakhFaNumFat.woff') format('woff'),
        url('./fonts/ttf/YekanBakhFaNumFat.ttf') format('truetype');
    }
}

/* Font Morabba */
@layer components {
    /*@font-face {*/
    /*    font-family: IRANSansX;*/
    /*    font-style: normal;*/
    /*    font-weight: 100; !* font-thin -> font-weight: 100; *!*/
    /*    src: url('./fonts/woff/IRANSansX-Thin.woff') format('woff'),*/
    /*    url('./fonts/woff2/IRANSansX-Thin.woff2') format('woff2');*/
    /*}*/

    @font-face {
        font-family: Morabba;
        font-style: normal;
        font-weight: 200; /* font-extralight -> font-weight: 200; */
        src: url('./fonts/woff/Morabba-UltraLight.woff') format('woff'),
        url('./fonts/woff2/Morabba-UltraLight.woff2') format('woff2');
    }

    @font-face {
        font-family: Morabba;
        font-style: normal;
        font-weight: 300; /* font-light -> font-weight: 300; */
        src: url('./fonts/woff/Morabba-Light.woff') format('woff'),
        url('./fonts/woff2/Morabba-Light.woff2') format('woff2');
    }

    @font-face {
        font-family: Morabba;
        font-style: normal;
        font-weight: normal; /* font-normal -> font-weight: 400; */
        src: url('./fonts/woff/Morabba-Regular.woff') format('woff'),
        url('./fonts/woff2/Morabba-Regular.woff2') format('woff2');
    }

    @font-face {
        font-family: Morabba;
        font-style: normal;
        font-weight: 500; /* font-medium -> font-weight: 500; */
        src: url('./fonts/woff/Morabba-Medium.woff') format('woff'),
        url('./fonts/woff2/Morabba-Medium.woff2') format('woff2');
    }

    @font-face {
        font-family: Morabba;
        font-style: normal;
        font-weight: 600;  /* font-semibold -> font-weight: 600; */
        src: url('./fonts/woff/Morabba-SemiBold.woff') format('woff'),
        url('./fonts/woff2/Morabba-SemiBold.woff2') format('woff2');
    }

    @font-face {
        font-family: Morabba;
        font-style: normal;
        font-weight: bold; /* font-bold -> font-weight: 700; */
        src: url('./fonts/woff/Morabba-Bold.woff') format('woff'),
        url('./fonts/woff2/Morabba-Bold.woff2') format('woff2');
    }

    @font-face {
        font-family: Morabba;
        font-style: normal;
        font-weight: 800; /* font-extrabold -> font-weight: 800; */
        src: url('./fonts/woff/Morabba-ExtraBold.woff') format('woff'),
        url('./fonts/woff2/Morabba-ExtraBold.woff2') format('woff2');
    }

    @font-face {
        font-family: Morabba;
        font-style: normal;
        font-weight: 900; /* font-black -> font-weight: 900; */
        src: url('./fonts/woff/Morabba-Heavy.woff') format('woff'),
        url('./fonts/woff2/Morabba-Heavy.woff2') format('woff2');
    }
}

/* Font IRANSansX */
@layer components {
    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 100; /* font-thin -> font-weight: 100; */
        src: url('./fonts/woff/IRANSansX-Thin.woff') format('woff'),
        url('./fonts/woff2/IRANSansX-Thin.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 200; /* font-extralight -> font-weight: 200; */
        src: url('./fonts/woff/IRANSansX-UltraLight.woff') format('woff'),
        url('./fonts/woff2/IRANSansX-UltraLight.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 300; /* font-light -> font-weight: 300; */
        src: url('./fonts/woff/IRANSansX-Light.woff') format('woff'),
        url('./fonts/woff2/IRANSansX-Light.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: normal; /* font-normal -> font-weight: 400; */
        src: url('./fonts/woff/IRANSansX-Regular.woff') format('woff'),
        url('./fonts/woff2/IRANSansX-Regular.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 500; /* font-medium -> font-weight: 500; */
        src: url('./fonts/woff/IRANSansX-Medium.woff') format('woff'),
        url('./fonts/woff2/IRANSansX-Medium.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 600;  /* font-semibold -> font-weight: 600; */
        src: url('./fonts/woff/IRANSansX-DemiBold.woff') format('woff'),
        url('./fonts/woff2/IRANSansX-DemiBold.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: bold; /* font-bold -> font-weight: 700; */
        src: url('./fonts/woff/IRANSansX-Bold.woff') format('woff'),
        url('./fonts/woff2/IRANSansX-Bold.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 800; /* font-extrabold -> font-weight: 800; */
        src: url('./fonts/woff/IRANSansX-ExtraBold.woff') format('woff'),
        url('./fonts/woff2/IRANSansX-ExtraBold.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 900; /* font-black -> font-weight: 900; */
        src: url('./fonts/woff/IRANSansX-Black.woff') format('woff'),
        url('./fonts/woff2/IRANSansX-Black.woff2') format('woff2');
    }
}

/* Font IRANYekanX */
@layer components {
    @font-face {
        font-family: IRANYekanX;
        font-style: normal;
        font-weight: 100; /* font-thin -> 100 */
        src: url('./fonts/woff/IRANYekanX-Thin.woff') format('woff'),
        url('./fonts/woff2/IRANYekanX-Thin.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANYekanX;
        font-style: normal;
        font-weight: 200; /* font-extralight -> 200 */
        src: url('./fonts/woff/IRANYekanX-UltraLight.woff') format('woff'),
        url('./fonts/woff2/IRANYekanX-UltraLight.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANYekanX;
        font-style: normal;
        font-weight: 300; /* font-light -> 300 */
        src: url('./fonts/woff/IRANYekanX-Light.woff') format('woff'),
        url('./fonts/woff2/IRANYekanX-Light.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANYekanX;
        font-style: normal;
        font-weight: normal; /* font-normal -> 400 */
        src: url('./fonts/woff/IRANYekanX-Regular.woff') format('woff'),
        url('./fonts/woff2/IRANYekanX-Regular.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANYekanX;
        font-style: normal;
        font-weight: 500; /* font-medium -> 500 */
        src: url('./fonts/woff/IRANYekanX-Medium.woff') format('woff'),
        url('./fonts/woff2/IRANYekanX-Medium.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANYekanX;
        font-style: normal;
        font-weight: 600;  /* font-semibold -> 600 */
        src: url('./fonts/woff/IRANYekanX-DemiBold.woff') format('woff'),
        url('./fonts/woff2/IRANYekanX-DemiBold.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANYekanX;
        font-style: normal;
        font-weight: bold; /* font-bold -> 700 */
        src: url('./fonts/woff/IRANYekanX-Bold.woff') format('woff'),
        url('./fonts/woff2/IRANYekanX-Bold.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANYekanX;
        font-style: normal;
        font-weight: 800; /* font-extrabold -> 800 */
        src: url('./fonts/woff/IRANYekanX-ExtraBold.woff') format('woff'),
        url('./fonts/woff2/IRANYekanX-ExtraBold.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANYekanX;
        font-style: normal;
        font-weight: 900; /* font-black -> 900 */
        src: url('./fonts/woff/IRANYekanX-Black.woff') format('woff'),
        url('./fonts/woff2/IRANYekanX-Black.woff2') format('woff2');
    }
    @font-face {
        font-family: IRANYekanX;
        font-style: normal;
        font-weight: 950;
        src: url('./fonts/woff/IRANYekanX-ExtraBlack.woff') format('woff'),
        url('./fonts/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANYekanX;
        font-style: normal;
        font-weight: 1000;
        src: url('./fonts/woff/IRANYekanX-Heavy.woff') format('woff'),
        url('./fonts/woff2/IRANYekanX-Heavy.woff2') format('woff2');
    }

}

/* custom components */
@layer components {
    .flex_center{
        @apply flex items-center justify-center;
    }

    .default_container{
        @apply max-w-screen-xl px-4 xl:mx-auto;
    }

    .evenOdd_cards{
        @apply odd:bg-white odd:dark:bg-dark-700 even:bg-[#e7e8e9] even:dark:bg-slate-700;
    }

    .vacant_btn_theme_warning{
        @apply text-red-700 bg-white border border-red-700 hover:border-red-800 hover:text-red-800 focus:border-red-800 focus:text-red-800 focus:shadow-focus focus:shadow-red-700/50;
    }

    .fill_btn_theme_warning_empty{
        @apply text-red-700 bg-white border border-red-700 hover:border-red-800 hover:text-red-800 focus:border-red-800 focus:text-red-800 focus:shadow-focus focus:shadow-red-700/50;
    }

    .fill_btn_theme_warning_filled{
        @apply text-white bg-red-700 hover:bg-red-800 focus:bg-red-800 focus:shadow-focus focus:shadow-red-700/50;
    }

    .vacant_btn_theme_primary{
        @apply text-blue-700 bg-white border border-blue-700 hover:border-blue-800 hover:text-blue-800 focus:border-blue-800 focus:text-blue-800 focus:shadow-focus focus:shadow-blue-700/50;
    }

    .fill_btn_theme_primary_empty{
        @apply text-blue-700 bg-white border border-blue-700 hover:border-blue-800 hover:text-blue-800 focus:border-blue-800 focus:text-blue-800 focus:shadow-focus focus:shadow-blue-700/50;
    }

    .fill_btn_theme_primary_filled{
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:bg-blue-800 focus:shadow-focus focus:shadow-blue-700/50;
    }

    .vacant_btn_theme_rose{
        @apply text-rose-700 bg-white border border-rose-700 hover:border-rose-800 hover:text-rose-800 focus:border-rose-800 focus:text-rose-800 focus:shadow-focus focus:shadow-rose-700/50;
    }

    .fill_btn_theme_rose_empty{
        @apply text-rose-700 bg-white border border-rose-700 hover:border-rose-800 hover:text-rose-800 focus:border-rose-800 focus:text-rose-800 focus:shadow-focus focus:shadow-rose-700/50;
    }

    .fill_btn_theme_rose_filled{
        @apply text-white bg-rose-700 hover:bg-rose-800 focus:bg-rose-800 focus:shadow-focus focus:shadow-rose-700/50;
    }

    .vacant_btn_theme_zinc{
        @apply text-zinc-700 bg-white border border-zinc-700 hover:border-zinc-800 hover:text-zinc-800 focus:border-zinc-800 focus:text-zinc-800 focus:shadow-focus focus:shadow-zinc-700/50;
    }

    .fill_btn_theme_zinc_empty{
        @apply text-zinc-700 bg-white border border-zinc-700 hover:border-zinc-800 hover:text-zinc-800 focus:border-zinc-800 focus:text-zinc-800 focus:shadow-focus focus:shadow-zinc-700/50;
    }

    .fill_btn_theme_zinc_filled{
        @apply text-white bg-zinc-700 hover:bg-zinc-800 focus:bg-zinc-800 focus:shadow-focus focus:shadow-zinc-700/50;
    }

    .vacant_btn_theme_cobalt{
        @apply text-cobalt-700 bg-white border border-cobalt-700 hover:border-cobalt-800 hover:text-cobalt-800 focus:border-cobalt-800 focus:text-cobalt-800 focus:shadow-focus focus:shadow-cobalt-700/50;
    }

    .fill_btn_theme_cobalt_empty{
        @apply text-cobalt-700 bg-white border border-cobalt-700 hover:border-cobalt-800 hover:text-cobalt-800 focus:border-cobalt-800 focus:text-cobalt-800 focus:shadow-focus focus:shadow-cobalt-700/50;
    }

    .fill_btn_theme_cobalt_filled{
        @apply text-white bg-cobalt-700 hover:bg-cobalt-800 focus:bg-cobalt-800 focus:shadow-focus focus:shadow-cobalt-700/50;
    }
}

@layer utilities {
    /* Font IRANSansX - Number Farsi */
    .number-fa {
        -moz-font-feature-settings: "ss02";
        -webkit-font-feature-settings: "ss02";
        font-feature-settings: "ss02";
    }
    /* Font Morabba - Number Farsi */
    .morabba-number-fa {
        -moz-font-feature-settings: "ss01";
        -webkit-font-feature-settings: "ss01";
        font-feature-settings: "ss01";
    }

    .dir-rtl {
        direction: rtl;
    }

    .dir-ltr {
        direction: ltr;
    }

    .filter-white {
        filter: brightness(0) invert(1);
    }
    .filter-black {
        filter: brightness(100) invert(1);
    }

}


/* CUSTOM COLOR */
.bg-multi-color {
    background: linear-gradient(to bottom, red 0% 14%, orange 14% 28%, yellow 28% 42%, green 42% 56%, blue 56% 70%, indigo 70% 84%, violet 84% 98%);
}

.bg-none-color {
    background: none;
    /*@apply bg-sky-50;*/
}

/* FILEPOND */
.filepond--credits {
    @apply hidden;
}

.filepond--drop-label {
    @apply ltr:dir-ltr rtl:dir-rtl ltr:!font-inter rtl:!font-iran !text-gray-900 dark:!text-white !text-sm;
}

.filepond--root .filepond--hopper {
    @apply !bg-gray-50 dark:!bg-gray-700;
}

.filepond--panel .filepond--panel-root {
    @apply !bg-gray-50 dark:!bg-gray-700;
    @apply !border-gray-300 dark:!border-gray-600;
}

/* CHOICES.JS */
.choices__inner {
    @apply !bg-gray-50 dark:!bg-gray-700;
    @apply !border-transparent dark:!border-transparent ;
    @apply !ring-0 dark:!ring-0;
    @apply !rounded-[7px];
}

.choices__input {
    @apply !bg-gray-50 dark:!bg-gray-700 ;
}

.choices .choices__list {
    @apply !z-10;
}

.choices .choices__list--multiple .choices__item {
    @apply !bg-primary-500 hover:!bg-primary-600 transition duration-200 !border-transparent;
}

.choices__list--multiple .choices__item[data-deletable] {
    @apply !px-0 !ps-2;
}

.choices .choices__list--dropdown .choices__item--selectable {
    @apply dark:!text-white;
}

.choices .choices__list--dropdown .choices__item--selectable.is-highlighted {
    @apply !bg-primary-500 dark:!bg-primary-500;
}

.choices .choices__list--dropdown {
    @apply !border-primary-500 dark:!border-primary-500 ring-1 ring-primary-500;
}

.choices__list--dropdown {
    @apply !bg-gray-50 dark:!bg-gray-500;
}
.choices__button {
    @apply ltr:!right-2 rtl:!right-auto rtl:!left-8 !bg-red-500 dark:!bg-red-500;
}

.choices .choices__inner {
    @apply rtl:!bg-[center_left_.5rem];
}

/* JODIT TEXT EDITOR */
.jodit-container {
    /*@apply !border-gray-300 dark:!border-gray-600;*/
    @apply !border-transparent dark:!border-transparent;
}

.jodit-wysiwyg {
    @apply !bg-gray-50 dark:!bg-gray-700;
}

.jodit-toolbar__box {
    @apply !bg-gray-50 dark:!bg-gray-600 dark:!text-white;
}

.jodit-toolbar__box:not(:empty) {
    @apply !border-gray-300 dark:!border-gray-700 !rounded-t-none;
}

.jodit-ui-separator {
    @apply !border-gray-300 dark:!border-gray-700 !border-opacity-50 dark:!border-opacity-50;
}

.jodit-toolbar__box:not(:empty) .jodit-toolbar-editor-collection:after {
    @apply !bg-gray-300 dark:!bg-gray-700;
}

.jodit-toolbar-button__button {
    @apply dark:hover:!bg-gray-700;
}

.jodit-toolbar-button_with-trigger_true:hover:not([disabled]) {
    @apply dark:border-gray-700;
}

.jodit-toolbar-button__trigger {
    @apply dark:hover:!bg-gray-700 dark:!text-white fill-current;
}

.jodit-icon {
    @apply !fill-current !stroke-current !text-gray-900 dark:!text-white;
}

.jodit-container:not(.jodit_inline) {
    @apply !bg-gray-50 dark:!bg-gray-600;
}

.jodit-container:not(.jodit_inline) .jodit-workplace {
    @apply !bg-gray-50 dark:!bg-gray-600;
}

.jodit-toolbar-editor-collection_size_middle.jodit-toolbar-editor-collection_mode_horizontal {
    @apply !bg-none;
    /*background-image: repeating-linear-gradient(transparent 0,transparent 37px,#2d343c 38px) !important;*/
}

.badge {
    @apply inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-gray-800 text-white dark:bg-white dark:text-gray-800;
}

/* swiper starts */
.slider_type_1 .swiper-pagination .swiper-pagination-bullet{
    @apply w-2 h-2 transition-transform duration-300 bg-white rounded-full opacity-50;
}
.slider_type_1 .swiper-pagination .swiper-pagination-bullet-active{
    @apply w-6 opacity-80;
}

.desktop_pdp_slider .swiper-button-next, .desktop_pdp_slider .swiper-button-prev{
    @apply absolute top-1/2 z-[1] cursor-pointer -translate-y-1/2 w-10 h-10 lg:w-12 lg:h-12 rounded-lg bg-white/70 flex_center drop-shadow-[2px_4px_15px_rgba(255,255,255,0.25)] before:absolute before:content-[''] before:w-2 before:h-2 before:border-r-2 before:border-t-2 before:border-gray-900;
}

.desktop_pdp_slider .swiper-button-next.swiper-button-disabled, .desktop_pdp_slider .swiper-button-prev.swiper-button-disabled{
    @apply opacity-40 pointer-events-none;
}

.desktop_pdp_slider .swiper-button-next{
    @apply right-4 lg:right-6 before:rotate-45;
}

.desktop_pdp_slider .swiper-button-prev{
    @apply left-4 lg:left-6 before:-rotate-[135deg];
}
/* swiper ends */

/* tab styules starts */
.l_tab_styles li.active{
    @apply before:block font-bold;
}
/* tab styules ends */


.iframe_styles > * {
    width: 100%;
}

/* table custom styles starts */
.custom_table_container{
    @apply overflow-auto;
}
.custom_table_container table{
    @apply w-full font-yekan text-dark-500 min-w-[36rem];
}
.custom_table_container table thead{
    @apply border-b-2 border-b-gray-900;
}
.custom_table_container table thead tr td{
    @apply text-sm font-bold leading-6 px-4 py-1.5 [&:not(:first-child)]:text-center lg:first:pr-8;
}
.custom_table_container table tbody tr{
    @apply border-b [&:nth-last-child(2)]:border-b-2 border-b-gray-900/30 [&:nth-last-child(2)]:border-gray-900 h-16 last:h-8 last:border-b-0;
}
.custom_table_container table tbody tr:last-child td{
    @apply text-xs py-0.5;
}
.custom_table_container table tbody tr td{
    @apply px-4 py-1.5 [&:not(:first-child)]:text-center lg:first:pr-8;
}

.custom_table_container.not_comparison table tbody tr{
    @apply border-b last:border-b-2 border-b-gray-900/30 last:border-gray-900 h-16;
}
.custom_table_container.not_comparison table tbody tr:last-child td{
    @apply text-sm py-1.5;
}


.custom_table_striped_container{
    /* @apply overflow-auto; */
}
.custom_table_striped_container table{
    @apply w-full font-yekan text-dark-500 min-w-[36rem] overflow-auto;
}
.custom_table_striped_container table thead{
    @apply border-b-2 border-b-dark-500;
}
.custom_table_striped_container table thead tr td{
    @apply text-sm font-bold leading-6 px-4 py-1.5 [&:not(:first-child)]:text-center lg:first:pr-8;
}
.custom_table_striped_container table tbody tr{
    @apply h-12 last:h-8 last:!bg-white odd:bg-white even:bg-dark-50 hover:bg-[#eee] transition-colors;
}
.custom_table_striped_container table tbody tr:last-child td{
    @apply text-xs py-0.5;
}
.custom_table_striped_container table tbody tr td{
    @apply px-4 py-1.5 [&:not(:first-child)]:text-center lg:first:pr-8;
}

.custom_table_striped_container.not_comparison table tbody tr{
    @apply h-12 last:odd:!bg-white last:even:!bg-dark-50 last:hover:!bg-[#eee];
}
.custom_table_striped_container.not_comparison table tbody tr:last-child td{
    @apply text-sm py-1.5 px-4 lg:first:pr-8;
}
/* table custom styles ends */